extends layout

block content
  p
   
  p
  div.container
   div.content
    table(class="table table-striped")
     thead
       tr 
             th Input1
             th Input2
             th Desired Output 1
             th Desired Output 2
     tbody
       tr
           td #{input['i1']}
           td #{input['i2']}
           td #{output['o1']}
           td #{output['o2']}
  
  div.container
    div.content
      h1(class="text-center") Results
      table(class="table table-striped")
        thead
          tr 
                th Round No.
                th Actual Output 1
                th Actual Output 2
        tbody
            each item in data
                tr
                    td #{item['i']}
                    td #{item['output']['o1']}
                    td #{item['output']['o2']}
    div.footer
    div(id='viz')
    
block sidebar
  h1(class="text-center") Diagram 
  img.center-block(src= "images/pic.png")


    




